# This is the configuration for twitterstream.py.
# For information on running this app, see README.md

# To create a user and database with name twitter, run:
#
#       $ psql -U postgres
#       postgres=# CREATE USER twitter WITH PASSWORD 'secret';
#       postgres=# CREATE DATABASE twitter OWNER twitter;

database:   twitter     # Name of the database
user:       twitter     # Database role / user name
password:   secret      # Database password
host:       localhost   # Hostname

save_every:     5       # seconds between every save to database
reload_every:   10      # seconds between every reload of user's config


# Set the default logging level
# - warning: only warnings and errors
# - info: also show connect, disconnect, count of tweets (default)
# - debug: also show stall messages, etc

loglevel:   info
