{
    "api": {
        "consumer_key"        : "...",
        "consumer_secret"     : "...",
        "access_token_key"    : "...",
        "access_token_secret" : "..."
    },
    "search": {
        "track": "beer"
    },
    "save_tweets": "tweetfile.json",

    "followers": {
        "source": "users.txt",
        "target": "followers.json"
    }
}
