<!DOCTYPE html>
<html>
<head>
    <title>Twitter Stream from Gramener</title>
</head>
<body>
    <h1>Twitter Stream from Gramener</h1>
    <form action="/search" method="GET">
        <input type="text" name="q" autocomplete="off" placeholder="Enter query to search"/>
        <input type="submit" value="Search" />
    </form>

    <div id="messages"></div>

    <script src="/static/jquery.min.js"></script>
    <script>
    var ws;
    $('form').on('submit', function(e) {
        e.preventDefault();
        ws = new WebSocket('ws://127.0.0.1:8080/search?' + $(this).serialize());
        ws.onmessage = function(e) {
            $('<code>').text(e.data).appendTo('#messages');
        };
    })
    </script>
</body>
</html>
